.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.slideshow {
  max-width: 600px;
  margin: 20px auto;
  position: relative;
}

.slideshow img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
